@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
/* header styles */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  font-family: "Ubuntu", serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* blue_section  */

.startups_section {
  background-color: #5716b8;

}

.sub_sections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 3rem;
  color: rgb(232, 226, 226);
  opacity: 0.9;
  padding: 3rem 10rem;

}

.startups_text h2 {
  font-size: 15px;
  padding-top: 0.4rem;
}

.startups_text P {
  font-size: 14px;
  padding-top: 0.5rem;
}

.startups_text i {
  font-size: 1.5rem;
}
/* logo section starts here */
.logos {
  background-color: #F8F8F8;
  display: flex;
  padding: 3rem 12rem;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

 img {
  height: 60px;
  width: 100px;
 }
